@use "../abstracts/variables" as *;

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #ffffff;
  color: $text-dark;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}