@use "../abstracts/variables" as *;

header {
  text-align: center;
  padding: 20px 10px;
  background: $light-blue;
  border-bottom: 2px solid $blue;

  h1 {
    font-size: 1.8rem;
    color: $blue;
  }

  p {
    font-size: 0.9rem;
    color: $text-light;
  }
}